<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/Default.asp" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>